<app-header></app-header>
<form class="card" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
	<div class="top">
		<img src="/logo-light.png" alt="Logo in light mode" />
	</div>
	<div class="info">
		@if (currentStepIndex > 0) {
		<div class="left" (click)="previousStep()">
			<lucide-icon name="arrow-left" size="48"></lucide-icon>
		</div>
		}
		<div class="right">
			<h2>Cadastro</h2>
			<span>Já tem uma conta? <a href="">Log In</a></span>
			<span>* As informações são obrigatórias</span>
		</div>
	</div>
	@if (currentStepIndex === 0) {
	<fieldset>
		<legend>Identificação Pessoal</legend>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Nome Completo:</span>
			<input type="text" name="name" ngModel required />
		</label>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Telefone:</span>
			<input type="text" name="telphone" ngModel required />
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>Email:</span>
			<input type="text" name="email" ngModel required />
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>RG:</span>
			<input type="text" name="rg" ngModel required />
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>CPF:</span>
			<input type="text" name="cpf" ngModel required />
		</label>
	</fieldset>
	<fieldset>
		<legend>Localização</legend>
		<label style="width: calc((100% - 32px) / 3)">
			<span>CEP:</span>
			<input type="text" name="cep" ngModel required />
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>Estado:</span>
			<select name="state" ngModel required>
				<option value="state1">State 1</option>
				<option value="state2">State 2</option>
				<option value="state3">State 3</option>
			</select>
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>Cidade:</span>
			<select name="city" ngModel required>
				<option value="city1">City 1</option>
				<option value="city2">City 2</option>
				<option value="city3">City 3</option>
			</select>
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>Bairro:</span>
			<input type="text" name="neighborhood" ngModel required />
		</label>
		<label style="width: calc((100% - 32px) / 3)">
			<span>Rua:</span>
			<input type="text" name="street" ngModel required />
		</label>
		<label style="width: calc((100% - 88px) / 6)">
			<span>Número:</span>
			<input type="text" name="number" ngModel required />
		</label>
		<label style="width: calc((100% - 88px) / 6)">
			<span>Complemento:</span>
			<input type="text" name="complement" ngModel />
		</label>
	</fieldset>
	} @else {
	<fieldset>
		<legend>Dados Profissionais</legend>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Profissão:</span>
			<input type="text" name="profession" ngModel required />
		</label>
		<span style="width: calc((100% - 16px) / 2)"></span>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Entidade(s) Empregadora(s):</span>
			<input type="text" name="company" ngModel required />
		</label>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Rendimento(s) Autodeferido(s):</span>
			<input type="text" name="monthlyIncome" ngModel required />
		</label>
	</fieldset>
	<fieldset>
		<legend>Escolha Sua Senha</legend>
		<span>Usaremos o e-mail fornecido na Identificação Pessoal</span>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Senha:</span>
			<input type="password" name="password" ngModel required />
		</label>
		<label style="width: calc((100% - 16px) / 2)">
			<span>Confirme Sua Senha:</span>
			<input type="password" name="confirmPassword" ngModel required />
		</label>
		<span
			>Use pelo menos 8 caracteres, incluindo uma letra e um número.</span
		>
	</fieldset>
	}
	<button>
		{{stepInfo[currentStepIndex].button.text}}
		<lucide-icon
			name="{{stepInfo[currentStepIndex].button.icon}}"
		></lucide-icon>
	</button>
</form>
<app-car-background />
