<form>
	<label [style]="getWidthStyle()">
		<span>Local de Retirada</span>
		<input type="text" />
	</label>
	<label [style]="getWidthStyle()">
		<span>Data da Retirada</span>
		<input type="datetime-local" />
	</label>
	<label [style]="getWidthStyle()">
		<span>Local de Devolução</span>
		<input type="text" />
	</label>
	<label [style]="getWidthStyle()">
		<span>Data da Devolução</span>
		<input type="datetime-local" />
	</label>
	@if (hasNextButton) {
	<button [style]="getWidthStyle()">
		Ache seu veíuculo
		<lucide-icon name="arrow-right" size="16" />
	</button>
	}
</form>
