app-car-background {
	height: calc(100% - 80px);
}

app-search-bar {
	margin-top: -40px;
	position: relative;
	z-index: 10;
}

h1 {
	text-align: center;
	margin-top: 60px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin: 40px 20px;
}
